<html>
<main class="main columns">
  <section class="column main-column">
    <div class="columns">
      <div class="column nested-column">
        <div class="article">
          <header class="header" *ngIf="areNewsLoaded$ | async">
              <h1 class="article-title" *ngFor="let news of (selectNews$ | async)">
                {{news.title3}}
              </h1>
            <h2>{{newsService.newsDate | date:'longDate': 'null':'ru' }}</h2>
          </header>
          <figure class="article-image is-16by9">
            <img src="assets/img1.jpg" alt="">
          </figure>
          <div class="article-body" *ngIf="areNewsLoaded$ | async"> 
              <h2 class="article-title" *ngFor="let news of (selectNews$ | async)">
                {{news.title3}}
              </h2>
              <p class="article-content" *ngFor="let news of (selectNews$ | async)">
                {{news.text3}}
                {{news.text3}}
              </p>
              <br>
              <p class="article-content" *ngFor="let news of (selectNews$ | async)">
                {{news.text3}}
                {{news.text3}}
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
</html>