.example-spacer {
  flex: 1 1 auto;

}
.mat-icon-button {
  color: white;
}
.mat-toolbar {
  color: white;
  background: linear-gradient(to right, rgba(237, 40, 122, 1), rgba(244, 200, 17, 1));
  height: 75px;
  //position: relative;
  //display: flex;
  //flex-direction: row;
}

//.logo-img{
//  height: 45px;
//}
.logo-cont{
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logo-cont p{
  margin: 0
}

.aloha{
  text-decoration: none;
  color: white;
}
