<html>
  <head>
    <title>ALOHA</title>
</head>
<header class="header">
    <h1>ALOHA</h1>
</header>
<main class="main columns">
  <section class="column main-column">
    <a class="article first-article" routerLink='/article'>
      <figure class="article-image is-4by3">
        <img src="assets/img2.jpg" alt="">
      </figure>
      <div class="article-body">
        <div *ngIf="areNewsLoaded$ | async">
          <div *ngFor="let news of (selectNews$ | async)">
            <h2 class="article-title">
              {{news.title1}}
            </h2>
            <p class="article-content">
              {{news.text1}}
            </p>
          </div>
        </div>
        <footer class="article-info">
          <span>{{newsService.newsDate | date:'longDate': 'null':'ru' }}</span>
        </footer>
      </div>
    </a>

    <div class="columns">
      <div class="column nested-column">
        <a class="article" routerLink='/article3'>
          <figure class="article-image is-16by9">
            <img src="assets/img4.jpg" alt="">
          </figure>
          <div class="article-body">
            <div *ngIf="areNewsLoaded$ | async">
              <div *ngFor="let news of (selectNews$ | async)">
                <h2 class="article-title">
                  {{news.title2}}
                </h2>
                <p class="article-content">
                  {{news.text2}}
                </p>
              </div>
            </div>
            <footer class="article-info">
              <span>{{newsService.newsDate | date:'longDate': 'null':'ru' }}</span>
            </footer>
          </div>
        </a>
      </div>

      <div class="column">
        <a class="article" href="#">
          <figure class="article-image is-16by9">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/image-03-lo.jpg" alt="">
          </figure>
          <div class="article-body">
            <div *ngIf="areNewsLoaded$ | async">
              <div *ngFor="let news of (selectNews$ | async)">
                <h2 class="article-title">
                  {{news.placeholderTitle}}
                </h2>
                <p class="article-content">
                  {{news.placeholderText}}
                </p>
              </div>
            </div>
            <footer class="article-info">
              <span>{{newsService.newsDate | date:'longDate': 'null':'ru' }}</span>
            </footer>
          </div>
        </a>
        <a class="article" href="#">
          <div class="article-body">
            <div *ngIf="areNewsLoaded$ | async">
              <div *ngFor="let news of (selectNews$ | async)">
                <h2 class="article-title">
                  {{news.placeholderTitle}}
                </h2>
                <p class="article-content">
                  {{news.placeholderText}}
                </p>
              </div>
            </div>
            <footer class="article-info">
              <span>{{newsService.newsDate | date:'longDate': 'null':'ru' }}</span>
            </footer>
          </div>
        </a>
        <a class="article" href="#">
          <div class="article-body">
            <div *ngIf="areNewsLoaded$ | async">
              <div *ngFor="let news of (selectNews$ | async)">
                <h2 class="article-title">
                  {{news.placeholderTitle}}
                </h2>
                <p class="article-content">
                  {{news.placeholderText}}
                </p>
              </div>
            </div>
            <footer class="article-info">
              <span>{{newsService.newsDate | date:'longDate': 'null':'ru' }}</span>
            </footer>
          </div>
        </a>
      </div>
    </div>
  </section>







  <section class="column">
    <a class="article" routerLink='/article2'>
      <figure class="article-image is-3by2">
        <img src="assets/img1.jpg" alt="">
      </figure>
      <div class="article-body">
        <div *ngIf="areNewsLoaded$ | async">
          <div *ngFor="let news of (selectNews$ | async)">
            <h2 class="article-title">
              {{news.title3}}
            </h2>
            <p class="article-content">
              {{news.text3}}
            </p>
          </div>
        </div>
        <footer class="article-info">
          <span>{{newsService.newsDate | date:'longDate': 'null':'ru' }}</span>
        </footer>
      </div>
    </a>
    <a class="article" href="#">
      <div class="article-body">
        <div *ngIf="areNewsLoaded$ | async">
          <div *ngFor="let news of (selectNews$ | async)">
            <h2 class="article-title">
              {{news.placeholderTitle}}
            </h2>
            <p class="article-content">
              {{news.placeholderText}}
            </p>
          </div>
        </div>
        <footer class="article-info">
          <span>{{newsService.newsDate | date:'longDate': 'null':'ru' }}</span>
        </footer>
      </div>
    </a>
    <a class="article" href="#">
      <div class="article-body">
        <div *ngIf="areNewsLoaded$ | async">
          <div *ngFor="let news of (selectNews$ | async)">
            <h2 class="article-title">
              {{news.placeholderTitle}}
            </h2>
            <p class="article-content">
              {{news.placeholderText}}
            </p>
          </div>
        </div>
        <footer class="article-info">
          <span>{{newsService.newsDate | date:'longDate': 'null':'ru' }}</span>
        </footer>
      </div>
    </a>
    <a class="article" href="#">
      <div class="article-body">
        <div *ngIf="areNewsLoaded$ | async">
          <div *ngFor="let news of (selectNews$ | async)">
            <h2 class="article-title">
              {{news.placeholderTitle}}
            </h2>
            <p class="article-content">
              {{news.placeholderText}}
            </p>
          </div>
        </div>
        <footer class="article-info">
          <span>{{newsService.newsDate | date:'longDate': 'null':'ru' }}</span>
        </footer>
      </div>
    </a>
  </section>
</main>


<form [formGroup]="subscriptionForm" class="subscription-form">
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>Подписаться на рассылку</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-label>Ваш email</mat-label>
            <input matInput placeholder="hello@example.com" formControlName="email">
            <!-- <mat-error *ngIf="email.invalid && email.touched"> -->
            <mat-error *ngIf="email && email.invalid && (email.dirty || email.touched)">
              Пожалуйста введите существующий email
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-label>Как часто вы хотите получать новости?</mat-label>
            <mat-select [(ngModel)]="selectedValue" formControlName="subtype" name="subtype">
              <mat-option *ngFor="let subType of subscriptionType" [value]="subType.type">
                {{subType.type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveSubscription()" [disabled]="subscriptionForm.invalid"  mat-flat-button color="primary" type="submit">Подписаться</button>
    </mat-card-actions>
  </mat-card>
</form>

<br>
<br>

<mat-card class="mat-card-subscriptions">
  <mat-card-header>
    <mat-card-title>Подписались на рассылку</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3 *ngFor="let item of listofsubs">
      {{item.email}} | {{item.subtype}}
    </h3>
  </mat-card-content>
  
</mat-card>

<br>
<br>

</html>